body {
  width: 100%;
}

.new_navbar {
  z-index: 99;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.new_navbar .container,
.new_navbar .container-fluid,
.new_navbar .container-sm,
.new_navbar .container-md,
.new_navbar .container-lg,
.new_navbar .container-xl,
.new_navbar .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main .left_area {
  width: 70%;
}
.main .left_area .calender {
  margin: 0 auto;
<<<<<<< HEAD
  width: 100% !important;
}
.main .left_area .calender .calender-title {
  text-align: center;
  font-size: 35px;
=======
  width: 95%;
}
.main .left_area .calender .calender-title {
  text-align: center;
  font-size: 50px;
>>>>>>> e48681d349859e500cc97d9e0b5ee1aff9d87957
}
.main .left_area .calender .calender-title > a {
  text-decoration: none;
}
.main .left_area .calender .table {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.main .left_area .calender .table tr th {
  text-align: center;
  font-size: 20px;
}
.main .left_area .calender .table tr th:nth-of-type(1) {
  color: red;
}
.main .left_area .calender .table tr th:nth-of-type(7) {
  color: blue;
}
.main .left_area .calender .table tr td {
  width: 14.2857142857%;
  font-size: 15px;
  font-weight: bold;
}
.main .left_area .calender .table tr td .space {
  display: block !important;
  content: "" !important;
  margin-top: -10px !important;
}
.main .left_area .calender .table tr:nth-of-type(1) {
  height: 50px !important;
  background: #9e9efa !important;
}
.main .left_area .calender .table tr:nth-of-type(2n) {
  text-align: center;
  background: #c6c6fd;
}
.main .left_area .calender .table tr:nth-of-type(2n+1) {
  height: 100px;
  background: #dcdcfd;
}
.main .right_area {
  width: 30%;
  margin: 0 auto;
}
.main .right_area .inner {
  margin: 0 auto;
}
.main .right_area .inner .account_info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .right_area .inner .account_info .new_schedule {
  width: 90%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.main .right_area .inner .account_info .new_schedule > a {
  display: block;
  text-decoration: none;
}
.main .right_area .inner .account_info .new_schedule > a .button_wrap {
  border: 1px solid rgb(58, 48, 255);
  text-align: center;
  font-size: 25px;
  color: #fff;
  background: #6868ff;
}
.main .right_area .inner .account_info .new_schedule > a .button_wrap:hover {
  background: #9999f8;
}
.main .right_area .inner #todo {
  width: 95%;
  margin: 27px auto 0;
<<<<<<< HEAD
  border: 1px solid #b8b8ff;
  background: rgba(184, 184, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 7px;
}
.main .right_area .inner #todo .todo_title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.main .right_area .inner #todo ul {
  width: 98%;
  height: 50vh;
  margin: 10px auto;
  padding: 0 0 10px !important;
  overflow: scroll;
=======
  background: #b8b8ff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 7px;
}
.main .right_area .inner #todo ul {
  width: 98%;
  margin: 0 auto;
  padding: 20px 0 !important;
>>>>>>> e48681d349859e500cc97d9e0b5ee1aff9d87957
}
.main .right_area .inner #todo ul .item {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px 0 !important;
<<<<<<< HEAD
  border: 1px solid #b8b8ff;
  background: rgb(238, 238, 238);
=======
  background: rgba(104, 104, 255, 0.7);
>>>>>>> e48681d349859e500cc97d9e0b5ee1aff9d87957
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.main .right_area .inner #todo ul .item .left_item_area {
<<<<<<< HEAD
  width: 55%;
=======
  width: 54%;
>>>>>>> e48681d349859e500cc97d9e0b5ee1aff9d87957
}
.main .right_area .inner #todo ul .item .left_item_area .sche_name {
  margin-bottom: 0 !important;
  font-size: 18px;
  font-weight: bold;
  padding: 0.375rem 10px;
  align-items: baseline;
}
.main .right_area .inner #todo ul .item .right_item_area {
<<<<<<< HEAD
  position: relative;
  width: 45%;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.main .right_area .inner #todo ul .item .right_item_area .btn {
  text-decoration: none;
  color: #000;
  width: 50px;
  height: 30px;
  padding: 0;
  margin-right: 10px;
}
.main .right_area .inner #todo ul .item .right_item_area .btn:hover {
  color: rgb(28, 28, 28);
=======
  width: 44%;
}
.main .right_area .inner #todo ul .item .right_item_area .btn {
  text-decoration: none;
  color: #fff;
}
.main .right_area .inner #todo ul .item .right_item_area .btn:hover {
  color: rgb(160, 160, 160);
>>>>>>> e48681d349859e500cc97d9e0b5ee1aff9d87957
  transition: 0.2s;
  font-weight: bold;
}
.main .right_area .inner #todo ul .item .right_item_area .btn > a {
  text-decoration: none;
}
<<<<<<< HEAD
.main .right_area .inner #todo ul .item .right_item_area .btn > a > span {
  display: block;
  transform: translateY(2px);
}
.main .right_area .inner #todo ul .item .right_item_area .delete-btn {
  background: #ada8b2;
}
.main .right_area .inner #todo ul .item .right_item_area .show {
  background: #ada8b2;
}
.main .right_area .inner #todo ul .item .right_item_area .edit {
  background: #ada8b2;
}
.main .right_area .inner #todo ul .item .right_item_area .delete {
  color: #000;
}
.main .right_area .inner #todo ul .item .right_item_area .delete:hover {
  color: rgb(28, 28, 28);
  transition: 0.2s;
  font-weight: bold;
}
.main .right_area .inner #tag {
  width: 95%;
  margin: 27px auto 0;
  border: 1px solid #b8b8ff;
  background: rgba(184, 184, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border-radius: 7px;
}
.main .right_area .inner #tag .tag_title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main .right_area .inner #tag .tag_btn {
  display: flex;
}
.main .right_area .inner #tag .tag_btn .tag_edit {
  display: block;
  margin-left: 20px;
  background: #ada8b2;
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}
.main .right_area .inner #tag .tag_btn .tag_delete {
  display: block;
  margin-left: 20px;
  background: #ada8b2;
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}
.main .right_area .inner #tag .tag_btn .tag_search {
  display: block;
  margin-left: 20px;
  padding: 0 20px;
  background: #ada8b2;
  text-align: center;
  border-radius: 5px;
}
.main .right_area .inner #tag .tag_btn .tag_search > a > span {
  display: block;
  transform: translateY(3px);
  color: #000;
}
.main .right_area .inner #tag .tag_btn .button_wrap {
  transform: translateY(2px);
}
.main .right_area .inner #tag ul {
  width: 90%;
  max-height: 50vh;
  margin: 10px auto;
  padding: 20px 0 !important;
  overflow: scroll;
}
.main .right_area .inner #tag ul .item {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px 0 !important;
  border: 1px solid #b8b8ff;
  background: rgb(238, 238, 238);
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.main .right_area .inner #tag ul .item .text {
  font-size: 15px;
  padding: 0 20px;
=======
.main .right_area .inner #todo ul .item .right_item_area .delete-btn {
  background: green;
}
.main .right_area .inner #todo ul .item .right_item_area .show {
  background: red;
}
.main .right_area .inner #todo ul .item .right_item_area .edit {
  background: blue;
}
.main .right_area .inner #todo ul .item .right_item_area .delete {
  color: #fff;
}
.main .right_area .inner #todo ul .item .right_item_area .delete:hover {
  color: rgb(160, 160, 160);
  transition: 0.2s;
  font-weight: bold;
>>>>>>> e48681d349859e500cc97d9e0b5ee1aff9d87957
}
